<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand nav-brand" href="#"><img src="assets/img/IMG_0900.jpg" width="60px" height="90px"/></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link">About Me <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Profiles</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Download CV</a>
            </li>
        </ul>
    </links>
</mdb-navbar>