<section class="about-me" id="about-me">
  <div class="main-header-container">
    <h2 class="main-header">Profile</h2>
    <p class="main-header__paragraph">I am creative Web Developer with a Javascript Framework bias</p>
    <hr class="main-header__hr" />
  </div>
  <div class=" main-content container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h3 class="main-content__title">About Me</h3>
        <p>
          I am a web developer with development experience using Angular 6, NodeJs, good knowledge of front-end
          techniques. I love structure and order and I also stand for quality. I like planning and delivery. I love
          spending time fixing little details.
          Also I like working as part of a team, in an Agile environment with room to learn and grow.
        </p>
      </div>
      <div class="col-md-4 col-sm-12 profile-pic  d-flex align-items-center flex-column">
        <div class="profile-pic__image">
          <img src="assets/img/IMG_0900.jpg" width="150px" height="250px" />
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="main-content__title">Details</h3>
        <p>
          <strong>Name:</strong><br>
          Shehu Inuwa<br>

          <strong>Location:</strong><br>
          England, United Kingdom </p>

        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered"
          style="position: static; visibility: visible; width: 81px; height: 28px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.c9b0d6e1ef0320c49dc875c581cc9586.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=satinuwa&amp;show_count=false&amp;show_screen_name=false&amp;size=l&amp;time=1543071308556"
          data-screen-name="satinuwa"></iframe>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>
</section>
<div class="background-beige pad-heading">
  <section class="container abilities" id="abilities">
    <div class="main-header-container">
      <h2 class="main-header">Abilities</h2>
      <p class="main-header__paragraph">
        “The only true wisdom is in knowing you know nothing.” <br>― Socrates
      </p>
      <hr class="main-header__hr" />
    </div>
    <h3 class="main-header">Skills</h3>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <ul class="no-bullets">
          <li class="no-bullets__li">
            <span class="ability-title">Twitter Bootstrap &nbsp;</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">CSS3</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">HTML5</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">JSON</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">MySQL</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">PHP</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-full" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Builder Pattern</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Command line Inteface</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">JQuery</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Javascript</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Ajax</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="no-bullets">
          <li>
            <span class="ability-title">MVC Pattern</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">OO Programming</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">SASS / SCSS</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">SEO</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-full" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Scrum</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">UML</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">BEM</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Angular 2, 4, 5, 6</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">AWS Lambda</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">Server Side Events </span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li>
            <span class="ability-title">NoSQL</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <h3 class="main-header">Tools</h3>
    <div class="row">
      <div class="col-6">
        <ul class="no-bullets">
          <li class="no-bullets__li">
            <span class="ability-title">Asana &nbsp;</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li class="no-bullets__li">
            <span class="ability-title">Kanban &nbsp;</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="no-bullets">
          <li class="no-bullets__li">
            <span class="ability-title">Zenhub&nbsp;</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
          <li class="no-bullets__li">
            <span class="ability-title">Jira&nbsp;</span>
            <span class="ability-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<section class="container projects pad-heading" id="projects">
  <div class="main-header-container">
    <h2 class="main-header">Projects</h2>
    <hr class="main-header__hr" />
  </div>
  <div class="row  pad-heading">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="figure effect">
        <img src="assets/img/cyber_scanner.png" alt="Cyber Scanner">
        <figcaption>
          <h3>Cyber Scanner</h3>
          <p>Cyber Scanner, is cyberv security firm located in Leeds.</p>
          <p><strong>Tags:</strong> <br>Development, NodeJs, Bootstrap</p>
          <a href="https://cyber-scanner.com/" target="_blank">View more</a>
          <span class="icon">
            <span class="fas fa-external-link-alt"></span>
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="figure effect">
        <img src="assets/img/diy_kitchens.png" alt="Diy Kitchens">
        <figcaption>
          <h3>DIY Kitchens</h3>
          <p>Upodated the UI and created a web app</p>
          <p><strong>Tags:</strong> <br>Angular 6, Bootstrap, AWS, NodeJs</p>
          <a href="https://diy-kitchens.com/" target="_blank">View more</a>
          <span class="icon">
            <span class="fas fa-external-link-alt"></span>
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="figure effect">
        <img src="assets/img/ubuntu.png" alt="Ubuntu Takeovers">
        <figcaption>
          <h3>Ubuntu Website</h3>
          <p>Converted Designs to Webpage</p>
          <p><strong>Tags:</strong> <br>Development, Bootstrap, Wordpress</p>
          <a href="https://www.ubuntu.com/" target="_blank">View more</a>
          <span class="icon">
            <span class="fas fa-external-link-alt"></span>
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="figure effect">
        <img src="assets/img/ubuntu_desktop_stats.png" alt="Oetelspel">
        <figcaption>
          <h3>Ubuntu Desktop Webpage</h3>
          <p>Created the graphs, look and feel.</p>
          <p><strong>Tags:</strong> <br>D3 Graph, Javascript, Developer</p>
          <a href="https://www.ubuntu.com/desktop/statistics" target="_blank">View more</a>
          <span class="icon">
            <span class="fas fa-external-link-alt"></span>
          </span>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
<footer class="background-gray footer">
  <div id="contact" class="container pad-heading">
    <h4>Contact</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li>
            <a href="https://twitter.com/satinuwa" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>&nbsp;
          </li>
          <li>
            <a href="https://www.linkedin.com/in/inuwa-shehu-a829b920/" target="_blank">
              <span class="fa fa-linkedin"></span>
              </a>
          </li>
          <li>
              <a href="mailto:inuwa@hotmail.co.uk">
                <span class="fa fa-envelope"></span>
              </a>
            </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</footer>
<div class="hover-menu">
  <div class="u-hide-medium u-hide-small">
    <ul>
      <li>
        <i class="fa fa-chevron-down scroll-down" aria-hidden="true"></i>
      </li>
      <li>
        <a href="#about-me" onclick="doScrolling('#about-me', 1000)">About Me</a>
      </li>
      <li>
        <a href="#abilities" onclick="doScrolling('#abilities', 1000)">Abilities</a>
      </li>
      <li>
        <a href="#projects" onclick="doScrolling('#projects', 1000)">Projects</a>
      </li>
      <li>
        <a href="#work-history" onclick="doScrolling('#work-history', 1000)">Work History</a>
      </li>
    </ul>
  </div>
  <div class="u-hide-large">
    <ul>
      <li>
        <a href="#about-me"><i class="fas fa-male"></i></a>
      </li>
      <li>
        <a href="#abilities"><i class="fas fa-allergies"></i></a>
      </li>
      <li>
        <a href="#projects"><i class="fas fa-project-diagram"></i></a>
      </li>
      <li>
        <a href="#work-history"></a>
      </li>
    </ul>
  </div>
</div>